@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            CHECK YOUR E-MAIL FOR CONFIRM ACCOUNT
        </p>
        <div class="col-md-6 col-md-offset-2">
            <div class="login-image-container">
                <img src="~/images/login/ezgif.com-resize (1).gif" />
               
            </div>
        </div>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
